@import '~ngx-toastr/toastr';

.content {
    margin-bottom: 48px !important;
}
.details-table {
    font-size: 12px;
}
#pagination {
    width: 100%;
}
#next {
    float: right;
    margin-right: 1em;
}
#prev {
    margin-left: 1em;
}
.titleLbl {
    text-align: center;
}
#newBtn {
    margin: 1em;
}
#deleteBtn, #editBtn {
    margin-left: 1em;
}
.bottomBtn {
    margin-left: 1em;
}
#logo {
    height: 80px;
}
.navbar, .navbar-brand {
    padding: 0 !important;
}
#logoImg {
    height: 50px;
    position: absolute;
    top: 0;
    padding: 5px;
}
#title {
    text-align: center;
}
#welcomeText {
    font-size: 10px;
}
#email, #pass {
    font-size: 11px;
}
#submitBtn {
    float: right;
}
#userLbl {
    font-size: 10px;
}
#mailLbl {
    font-size: 9px;
}
#logoutBtn {
    margin-left: 20px;
}
.navbar-text {
    padding-bottom: 0 !important;
}


/*login*/
.details-table{
    font-size: small;
}
.icono-logo {
    height: 60px;
}
.overflow-table {
    display: block;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}
.form-check-label {
    margin-top: 0.1rem;
}
.bar-color {
    background: #062060;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #062060, #39486d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #062060, #39486d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #e8ecf4;
}
.ftr {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login-card {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #062060;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #062060, #062060);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #062060, #062060); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #e8ecf4;

  }
  .container {
    margin-top: 1em;
  }
  .blackLbl {
    font-weight: bold;
  }

  #empresaLogo {
    margin: 0 auto;
    width: 30%;
  }